.channel-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0;
}

.channel-body ::-webkit-scrollbar {
  display: none;
}

.has-bottom-border-2 {
  border-bottom: 0.05em solid gray;
  padding: 0.7em;
  margin-left: 0px;
  margin-bottom: 0px !important;
}
.has-top-border-2 {
  border-top: 0.05em solid gray;
  padding-top: 0px;
}

.channel-body h3 {
  font-size: 1.5em;
}
.channel-body #messages {
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1em;
}
article .media:last-child {
  flex-shrink: 0;
}
.container {
  margin: 0 0;
  margin-right: 0;
  width: 100%;
}

.messages {
  height: auto;
}

.channel-name h4 {
  color: white;
  margin-left: 0.6em;
}

.channel-name p {
  margin-left: 0.8em;
}

.channel-name h6 {
  /* color: rgb(195, 180, 195); */
  color: white;
  margin-left: 0.8em;
}

.welcome {
  margin-top: 3vh;
}

.workspace-dropdown {
  position: absolute;
  right: '2em';
  top: '0em';
  z-index: 1000;
}

#typing-indicator {
  min-height: 1.5em;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  font-weight: 900;
  margin-left: 1em;
}
.info-panel {
  height: 92.7vh !important;
  padding-right: 1em !important;
  padding-left: 0em !important;
  padding-top: 0 !important;
  margin-top: 3.8em !important;
  border-top: 0.05em solid gray;
  margin-left: 0px;
  margin-bottom: 0px !important;
}

@media (min-width: 780px) {
  .close-sidebar {
    display: none;
  }
}

@media (max-width: 780px) {
  .info-panel {
    height: 0vh !important;
    padding-left: 0.6em !important;
    margin-top: 0em !important;
    padding-right: 0.6em !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0.5em !important;
    border: 0 !important;
  }
}
