.channel-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}
.has-bottom-border-2 {
  border-bottom: 0.05em solid gray;
  padding: 0.7em;
  margin-left: 0px;
  margin-bottom: 0px !important;
}
.has-top-border-2 {
  border-top: 0.05em solid gray;
  padding-top: 0px;
}

.channel-body h3 {
  font-size: 1.5em;
}
.channel-body #messages {
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1em;
}
article .media:last-child {
  flex-shrink: 0;
}
.container {
  margin: 0 0;
  margin-right: 0;
  width: 100%;
}

.messages {
  height: 100%;
}

.channel-name h4 {
  color: white;
  margin-left: 0.6em;
}

.channel-name p {
  /* color: rgb(207, 191, 205); */
  /* color: white; */
  margin-left: 0.8em;
}

.channel-name h6 {
  /* color: rgb(195, 180, 195); */
  color: white;
  margin-left: 0.8em;
}

.welcome {
  margin-top: 3vh;
}
