.content > h4 > span {
  float: right;
}

.content > h2 {
  padding-bottom: 0.4em;
  border-bottom: 0.1 solid black;
}

.content ul {
  margin-left: 0px;
}

.sidebar__List {
  max-height: 10em;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}