.search-input {
  padding: 0.5em 0.4em;
  height: 2.6em;
  position: relative;
}

.search-input::before {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==');
  display: block;
  position: absolute;
  width: 10vw;
  z-index: 3;
  height: 0.7em;
  font-size: 1.2em;
  top: 0.5em;
  left: 0.7em;
  line-height: 1.6em;
  opacity: 0.6;
}

.search-input > input {
  width: 11.3em;
  font-size: 1em;
  border: none;
  line-height: 2em;
  padding: 0.4em 0.5em 0.4em 1.5em;
  height: 2em;
  position: relative;
}

.search-input > input:focus {
  outline: none;
}
