.thread-body {
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
.has-bottom-border-2 {
  border-bottom: 2px solid black;
}
.thread-body h3 {
  font-size: 1.5em;
}
.thread-body #messages {
  flex: 1;
  overflow: scroll;
}
article .media:last-child {
  flex-shrink: 0;
}
