.tabs li {
  width: 25vw;
}

.tabs ul {
  width: 98%;
}

.tabs li.is-active a {
  border-bottom-color: #b4304c;
  color: #b4304c;
}

@media only screen and (max-width: 765px) {
  .tabs li {
    width: 49vw;
  }
}
