h1 {
  font-size: large;
}

.header-container {
  margin: 4px;
}

.channel-info {
  text-align: left;
}

.separator {
  margin-left: 4px;
  margin-right: 4px;
}

.clickable-icon {
  cursor: pointer;
}
